langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain_core
streamlit
Chroma
langchain_huggingface
#langchain_chroma 
langchain-text-splitters
#sentence_transformers
langchain-text-splitters
pymupdf
arxiv
wikipedia
