fastapi
uvicorn
chromadb
sentence-transformers
rank-bm25
langchain
langchain_community
langchain-core
langchain-text-splitters
ragas
datasets
openai
pydantic
torch
streamlit
langchain-huggingface
langchain-chroma
